/* color pallette:
rgb(234, 228, 200)



*/

body{
    background-color: rgb(234, 228, 200);
    color:rgb(11, 41, 66);
    font-family: Arial, Helvetica, sans-serif;
    
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    
    text-align: center;
}

header{
    height: 100px;
    
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(227, 193, 180);
}

nav{
    display: flex;
}

a{
    color:rgb(61, 44, 40);
    text-decoration: none;
}

a:hover{
    color:rgb(150, 108, 99);
    text-decoration: line;
}

img{
    width: 20%;
}

figure{
    text-align: center;
}