/* Variables */

:root{
    --primary: rgb(86, 86, 255);
    --secondary: rgb(236, 159, 159);
    --tertiary: rgb(106, 215, 255);
    --white: white;
    --black: black;
}

/* General */

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    width: 100%;
    flex: 1;
    padding: 2rem 8rem;
    box-sizing: border-box;
}

main *{
    padding: 0.5rem;
}

main ul{
    list-style: none;
}

main h2{
    justify-content: center;
    align-items: center;
    display: flex;
}

main img{
    width: 100%;
    max-width: 300px;
}

main figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contact */

form{
    display: flex;
    flex-direction: column;
    padding: 0 30%;
}

form label{
    padding-top: 1rem;
}

.submit-button{
    margin-top: 2rem;
}





/* Header */

header{
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
    color: var(--white)
}

header h1{
    padding-bottom: 1rem;
}

header nav ul{
    display: flex;
    flex-direction: row;

    list-style-type: none;
}

header nav ul li{
    margin: 0 1rem;
}

header nav ul li a{
    color: var(--white);
    text-decoration: none;
}

header nav ul li a:hover {
    color: var(--tertiary);
}

/* Footer */

footer{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);
    color: var(--white)
}

footer p{
    color: var(--white);
    text-decoration: none;
}

footer p a{
    color: var(--white);
    text-decoration: none;
}

footer p a:hover{
    color: var(--tertiary);
}


/* photo gallery */

.gallery-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .scroll-gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    width: 100%;
  }
  
  .scroll-gallery::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-gallery img {
    height: 200px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    border-radius: 8px;
  }
  
  .scroll-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: background 0.2s ease;
  }
  .scroll-btn:hover {
    background-color: #eee;
  }
  
  