<nav>
    <a href="https://webpages.charlotte.edu/fisler/">Charlotte Page</a>
    <a href="https://github.com/Finn-Isler1">Github</a>
    <a href="https://webpages.charlotte.edu/fisler/itis3135/">Course Page</a>
    <a href="https://www.freecodecamp.org/Finn_Isler">FreeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/Finn_I1">Codecademy</a>
    <a href="https://www.linkedin.com/in/finn-isler-9a5018295">LinkedIn</a>
</nav>
<p>Page built by <a href="finnislerdesign.com/">Finn Isler Design</a> ©2025</p>


